# dependencies
/node_modules
.yarn/*

# testing
/coverage
*.lcov

# next.js
/.next/
/out/

# local env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/settings.json

# Backup files
*.backup

# Data folder
/data/