name: Deploy to OVH VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/TemmiiePortfolio
            git config --global --add safe.directory /var/www/TemmiiePortfolio
            git fetch --all
            git reset --hard origin/main
            npm install
            npm run build
            pm2 stop portfolio || true
            pm2 delete portfolio || true
            /var/www/start-portfolio.sh
