name: Deploy to OVH VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            cd /var/www/TemmiiePortfolio
            git fetch --all
            git reset --hard origin/main
            npm install
            npm run build
            pm2 restart portfolio || pm2 start ecosystem.config.js
