name: Deploy to OVH VPS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 22
          script: |
            # Déploiement
            cd /var/www/TemmiiePortfolio
            git config --global --add safe.directory /var/www/TemmiiePortfolio
            git fetch --all
            git reset --hard origin/main
            npm install
            npm run build

            # Créer le dossier de logs si besoin
            mkdir -p /home/${{ secrets.SSH_USER }}/logs

            # Démarrer/restart PM2 avec le chemin complet
            pm2 start /var/www/TemmiiePortfolio/ecosystem.config.js || pm2 restart portfolio